@import "../../../themes.scss";


span {
  justify-content: center;
  align-content: center;
}

.icon-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon-text-end {
  display: flex;
  align-items: center;

  @media only screen and (max-width: 600px) {
    justify-content: flex-start;
  }

  @media not screen and (max-width: 600px) {
    justify-content: flex-end;
  }

}

