<mat-toolbar fxFill>
  <div [fxLayout]="globals.isSmallScreen() ? 'column': 'row'" class="flex-container-nowrap" fxFill>
    <div class="flex-item-inherit  icon-text" style=" padding-right: 2em; font-size:14px">
      <p class="icon-text">
        <mat-icon aria-hidden="false" aria-label="Example heart icon">phone</mat-icon>
        (530) 801-1378
      </p>
    </div>
    <div class="flex-item-inherit icon-text" style="font-size:14px">
      <p class="icon-text">
        <mat-icon aria-hidden="false" aria-label="Example delete icon">email</mat-icon>
        vpalomar00@gmail.com
      </p>
    </div>
    <div class="flex-item-auto icon-text-end " style="font-size:14px">
      <p class="icon-text"> &copy; {{currentYear}} Victor Palomar</p>
    </div>
  </div>
</mat-toolbar>
