@import "../../../themes.scss";
@import "../../../styles.scss";


.list-horizontal {
  padding: 0;
  margin: 0;

  .mat-list-item {
    display: flex;
  }
}


span.logoDark {
  //color:#101010;
  color: map-get($primary, 200) !important;
  // font-size: 16px;
}


.logo {
  font-family: 'Bilbo Swash Caps', cursive;
  font-weight: bold;
  // font-size: 24px;
  color: map-get($primary, 200);
}


