<div class="flex-container-nowrap"   [fxLayout] = "isSmallScreen() ? 'column ': 'row'" >

  <div class="flex-item-auto" fxLayout="column"    fxHide.xs fxFlex="0.001%"  fxLayoutAlign="center center"></div>
  <div class="flex-item-auto" fxLayout="column"   fxFlexAlign="center center"    fxLayoutAlign="center center">

    <div class="flex-item-inherit">
      <h1 style="color:white">Victor Palomar</h1>

    </div>
    <div class="flex-item-inherit">
      <p> Software Developer</p>
    </div>


  </div>

  <div class="row" >
    <div class="cell" >
      <img src= "assets/img/6.png" alt="me" class="img-responsive"/>
    </div>
  </div>

  <div class="flex-item-auto" fxLayout="column" fxHide.xs  fxFlex="0.001%" fxLayoutAlign="center center"></div>
</div>
