@import "../../../themes.scss";

* {
  color: map-get($primary, 200) !important;
}


.row {
  flex: 0.50;
}


img {
  height: auto;
  max-width: 100%;
  min-width: 100%;
  display: block;
  width: 100%;
}

mat-grid-tile {
  background-color: white;
}

mat-grid-tile a img {
  width: auto;
  max-height: 70px
}
