<div class="flex-container" fxLayout="row" fxFlexFill>

  <div class="flex-item" fxLayout="column"  fxLayoutAlign="center center">
    <div class="flex-item"></div>
    <div class="flex-item"></div>
    <div class="flex-item"></div>
    <div class="flex-item">
      <h1 style="color:white">Victor Palomar</h1>

    </div>
    <div class="flex-item">
      <p> Software Developer</p>
    </div>
    <div class="flex-item"></div>
    <div class="flex-item"></div>
    <div class="flex-item"></div>
  </div>
  <div class="flex-item" fxLayout="column"  fxLayoutAlign="center center">
    <div class="flex-item"></div>


    <div class="flex-item">
      <img src= "assets/img/6.png" alt="me" height="600" width="600"/>
    </div>
    <div class="flex-item"></div>
  </div>
</div>
