@import "themes";
@import "~normalize-scss/sass/normalize/import-now";


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  height: 100%;
}

div.container-column-nowrap {
  display: flex;
  min-height: 100vh;
  flex-flow: column nowrap;
}

div.flex-container-row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}

div.flex-container-row-nowrap {
  display: flex;
 flex-wrap: inherit;
}

footer, header  {
  & mat-toolbar { background-color: rgba(255,255,255, 0.1) !important; }
}

main {
  flex: 1;
}

div.flex-item-span3 {
  flex: 3 3;
}

div.flex-item-auto {
  flex: 1 1 auto;
  justify-content: center;
  align-content: center;
  align-items: center;
}

div.flex-item-inherit {
  flex: 1 1 inherit;
  justify-content: center;
  align-content: center;
}

mat-sidenav {
  width: 250px;
}


@media only screen and (max-width: 600px) {
  body {
    overflow-y: scroll !important;
  }
}
